<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Head back home' %}
	{% endif %}

	<p class="highlighted_box">This is <strong>Colonial One</strong>, your flag-blog on the way to the future. The universe is huge and non-deterministic so expect some random weirdness along the way, including but not limited to: functional programming, environmental ethics, network science and Renaissance stuffed crocodiles hung on the church ceilings.</p>
	
	<a href="{{ link | prepend: site.baseurl }}">
		<img src="{{ site.baseurl }}/assets/spaceship.png">
	</a>
	<span class="logo-prompt">{{ prompt }}</span>
    
 
    <div class="divider"></div>
</aside>
